body {
	background-color: #1C1C1C;
	color: #A8A8FF;
	font-family: Calibri;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	color: #A8A8FF;
}

h2 {
	font-family: Helvetica;
	color: #FFA731;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

h4 {
	font-family: Helvetica;
	color: #FFA731;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

h5 {
	color: #FFA731;
}

h3 {
	font-family: Helvetica;
	color: #1C1C1C;
} 

p {
	font-size: medium;
	text-align: justify;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

ol {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

ul {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

li a { 
	text-decoration: none;
	text-align: center;
	padding: 3px 4px;
	color: #1C1C1C;
}

li a:hover {
	color: #000000;
	background-color: #FFA731;
}

li a.active {
	background-color: #FFA731;
}

li a:visited {
	color: #1C1C1C;
}

a:visited {
	color: #FFA731;
}

.nav1 {
	background-color: #A8A8FF;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 69px;
	top: 45px;
}

.nav1 a {
	color: #1C1C1C;
	text-decoration: none;
}

.nav1 li {
	display: inline;
	list-style-type: none;
	padding: 3px;
	margin: 3px;
	color: #1C1C1C;
}

.nav1 ul {
	display: inline;
	padding: 0px;
	
}

fieldset {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.green {
	color: #0AFF54;
}

.red {
	color: #FF8585;
}

.currentPage {
	list-style-type: none;
	cursor: none;
	pointer-events: none;
	background-color: #FFA731;
}

.logo{
	position: absolute;
	left: 0px;
	top: 0px;
}

.fluid{
	max-width: 100%;
	height: auto;
}

.right {
	float: right;
}

.header{
	position: absolute;
	left: 75px;
	top: 0px;
	background-color: #1C1C1C;
}

.nodots{
	list-style-type: none;
}

.carousel-item img{
	margin: auto;
	display: block;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-color: #A8A8FF;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid white;
}

.jumbotron {
	color: #1C1C1C;
	background-color: #A8A8FF;
}

.jumbotron2 {
	padding: 30px;
	color: #1C1C1C;
	/* background-color: #A0AAE1; */
	background-color: #FFC375;
}

.jumbotron3 {
	padding: 30px;
	color: #1C1C1C;
	background-color: #E0C59E;
}
